.RoomGrid {
  .room-grid-header {
    display: flex;
    flex-direction: row;
    height: 50px;
    border: 1px solid black;
  }

  .number {
    min-width: 80px;;
    text-align: center;
    line-height: 50px;
  }

  .parcels {
    min-width: 150px;
    line-height: 50px;
  }

  .full-name {
    min-width: 200px;
    line-height: 50px;
  }

  .email {
    min-width: 200px;
    line-height: 50px;
  }

  .last-notified {
    min-width: 200px;
    line-height: 50px;
  }
}
